@model Core.DomainModel.PracticeRoom

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center">
    Details of
    @Html.DisplayFor(model => model.Name)
</h1>
<hr/>
<div class="card col-md-6" >
    <div class="card-body">
        <h4>PracticeRoom</h4>
        <hr />
        <dl class="row">
            <dt class = "col-sm-4">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class = "col-sm-8">
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt class = "col-sm-4">
                Name Practice room
            </dt>
            <dd class = "col-sm-8">
                @Html.DisplayFor(model => model.Name)
            </dd>
        </dl>
    </div>

    <div class="container">
        @if (User.HasClaim("UserType", "Employee") || User.HasClaim("UserType", "Student"))
        {
            @Html.ActionLink("Edit | ", "Edit", new { id = Model.Id })
            
        }
        <a href="javascript:history.go(-1)">Back</a>
    </div>
    <br />
</div>
