@model Core.DomainModel.TreatmentPlan

@{
    ViewData["Title"] = "Detail";
}

<h1 class="text-center">Detail treatmentplan</h1>

<hr />


<div class="card col-md-7">
    <div class="card-body">
<div>
    <dl class="row">
        <dt class = "col-md-4">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-md-8">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <hr/>
        <dt class="col-md-4">
            Treatment
        </dt>
        <dd class="col-md-8">
            @ViewBag.Description
                </dd>
                <hr />
        <dt class="col-md-4">
            Explanation Required
        </dt>
        <dd class="col-md-8">
            @ViewBag.ExplanationRequired
                </dd>
                <hr />
        <dt class = "col-md-4">
            Description
        </dt>
        <dd class = "col-md-8">
            @Html.DisplayFor(model => model.Description)
                </dd>
                <hr />
        <dt class = "col-md-4">
            @Html.DisplayNameFor(model => model.Particularities)
        </dt>
        <dd class = "col-md-8">
            @Html.DisplayFor(model => model.Particularities)
                </dd>
                <hr />
        <dt class = "col-md-4">
            Performed By
        </dt>
        <dd class = "col-md-8">
            @Model.TreatmentPerformedBy.ApplicationUser.FirstName @Model.TreatmentPerformedBy.ApplicationUser.SurName
                </dd>
                <hr />
        <dt class = "col-md-4">
            Treatment Date
        </dt>
        <dd class = "col-md-8">
            @Html.DisplayFor(model => model.TreatmentDate)
                </dd>
                <hr />
        <dt class = "col-md-4">
            Treatments per week
        </dt>
        <dd class = "col-md-8">
            @Html.DisplayFor(model => model.AmountOfTreatmentsPerWeek)
                </dd>
                <hr />
        <dt class="col-md-4">
            Room
        </dt>
        <dd class="col-md-8">
            @Html.DisplayFor(model => model.PracticeRoom.Name)
        </dd>
    </dl>
</div>
<div>
    @if (User.HasClaim("UserType", "Employee") || User.HasClaim("UserType", "Student"))
    {
        @Html.ActionLink("Edit | ", "Edit", new { id = Model.Id })
    }
    <a href="javascript:history.go(-1)">Back</a>
</div>

            </div>
</div>