@model Core.DomainModel.Appointment

@{
    ViewData["Title"] = "Detail";
}
<h1 class="text-center">Appointment patient</h1>
<hr/>


<div class="card col-md-5">
    <div class="card-body">
<div>
    <dl class="row">
        <dt class="col-sm-2">
            Patient
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.ApplicationUser.FirstName) @Html.DisplayFor(model => model.Patient.ApplicationUser.SurName)
        </dd>
        <dt class="col-sm-2">
            Employee
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.ApplicationUser.FirstName) @Html.DisplayFor(model => model.Employee.ApplicationUser.SurName)
        </dd>
        <dt class="col-sm-2">
            Date
        </dt>
        <dd class="col-sm-10">
            @ViewBag.Date
        </dd>
        <dt class="col-sm-2">
            Time
        </dt>
        <dd class="col-sm-10">
            @ViewBag.StartTime - @ViewBag.StopTime
        </dd>
    </dl>
</div>
<div>
    <a href="javascript:history.go(-1)">Back</a>
</div>

            </div></div>