@model Fysio_WebApplication.Models.MedicalFile

@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>

<div>
    <h4>MedicalFile</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiagnosisCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiagnosisCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntakeTherapistId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntakeTherapistId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntakeSupervision)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntakeSupervision)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfCreation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfCreation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfDischarge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfDischarge)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
