@model Core.DomainModel.MedicalFile

@{
    ViewData["Title"] = "Detail";
}
<h1 class="text-center">Detailed medical file</h1>
<hr/>


<div class="card col-md-7">
    <div class="card-body">
<div>
    <dl class="row">
        <dt class="col-md-3">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-md-9">
            @Html.DisplayFor(model => model.Description)
        </dd>
                <hr />
        <dt class="col-md-3">
            @Html.DisplayNameFor(model => model.DiagnosisCode)
        </dt>
        <dd class="col-md-9">
            @Html.DisplayFor(model => model.DiagnosisCode)
        </dd>
                <hr/>
        <dt class="col-md-3">
            Body Location
        </dt>
        <dd class="col-md-9">
            @Html.Raw(ViewBag.BodyLocation)
        </dd>
                <hr />
        <dt class="col-md-3">
            Pathology
        </dt>
        <dd class="col-md-9">
            @Html.Raw(ViewBag.Pathology)
        </dd>
                <hr />
        @*Maybe in the future the therapist can be linked towards his viewable acocunt?*@
        <dt class="col-md-3">
            Therapist
        </dt>
        <dd class="col-md-9">
            @Html.DisplayFor(model => model.IntakeTherapistId.ApplicationUser.FirstName) @Html.DisplayFor(model => model.IntakeTherapistId.ApplicationUser.SurName)
        </dd>
                <hr />
        <dt class="col-md-3">
            Supervision
        </dt>
        @*Maybe in the future the Superivsion can be linked towards his viewable acocunt?*@
        <dd class="col-md-9">
            @Html.DisplayFor(model => model.IntakeSupervision.ApplicationUser.FirstName) @Html.DisplayFor(model => model.IntakeSupervision.ApplicationUser.SurName)
        </dd>
                <hr />
        <dt class="col-md-3">
            @Html.DisplayNameFor(model => model.DateOfCreation)
        </dt>
        <dd class="col-md-9">
            @Html.DisplayFor(model => model.DateOfCreation)
        </dd>
                <hr />
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.DateOfDischarge)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.DateOfDischarge)
        </dd>
                <hr />
        <dt class="col-md-3">
            Notes
        </dt>
        <dd class="col-md-9">
            @if(Model.Notes.Count() > 0){
                @Html.ActionLink("All Notes", "Notes", new { id = Model.Id })
            }
            @if (User.HasClaim("UserType", "Employee") || User.HasClaim("UserType", "Student"))
            {
                <b> | </b>
                @Html.ActionLink("Add Note", "NotesNew", new { id = Model.Id })
            }
        </dd>
                <hr />
        <dt class="col-md-3">
            TreatmentPlan
        </dt>
        <dd class="col-md-9">
            @if (Model.TreatmentPlans.Count() > 0)
            {
                @Html.ActionLink("All Treatmentplans", "Treatmentplan", new { id = Model.Id })
            }
            @if (User.HasClaim("UserType", "Employee") || User.HasClaim("UserType", "Student"))
            {
                <b> | </b>
                @Html.ActionLink("Add treatmentplan", "TreatmentplanNew", new { id = Model.Id })
            }
        </dd>
                <hr />
        <dt class="col-md-3">
            Appointment
        </dt>
        <dd class="col-md-9">
            @if (User.HasClaim("UserType", "Employee") || User.HasClaim("UserType", "Student"))
            {
                @Html.ActionLink("Details", "Appointment", new { id = Model.Id })
                <b> | </b>
                @Html.ActionLink("Afspraak maken", "AppointmentNew", "MedicalFile", new { id = Model.Id})
            }else{
                @Html.ActionLink("Afspraak maken", "Create", "Appointment")
            }
        </dd>        <hr/>
    </dl>
</div>
<div>
    @if (User.HasClaim("UserType", "Employee") || User.HasClaim("UserType", "Student"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
        <b> | </b>
        <a href="javascript:history.go(-1)">Back</a>
    }
    
</div>
</div>
</div>