@model IEnumerable<Core.DomainModel.Note>

@{
    ViewData["Title"] = "Notes";
}

<h1>Notes</h1>

<table class="table">
    @if (Model == null)
    {
        <p> Geen notes voor dit dossier </p>
    }
    else
    {
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OpenForPatient)
                </th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OpenForPatient)
                </td>
            </tr>
        </tbody>
        }
    }
</table>
