@model IEnumerable<Core.DomainModel.Note>

@{
    ViewData["Title"] = "Notes";
}


<h1 class="text-center">All notes</h1>
<hr/>

<div class="card" >
    <div class="card-body">
<table class="table table-striped">
    @if (Model == null)
    {
        <p> No notes on this medial file </p>
    }
    else
    {
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OpenForPatient)
                </th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OpenForPatient)
                </td>
            </tr>
        </tbody>
        }
    }
</table>

    </div>
</div>
